.container {
  background-color: #eaeffb;
  width: 100%;
  height: 100vh;
  padding-top: 20vh;
}

.form {
  margin: 0 auto;
  max-width: 430px;
  background-color: #fff;
  border-radius: 30px;
  padding: 45px;
  box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 30px;
  color: #465abc;
  margin: 35px 0;
}

.forgotPassword {
  display: block;
  text-align: right;
  color: #465abc;
  margin-top: 10px;
}

.box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.box span {
  font-size: 22px;
  font-weight: 700;
  color: #465abc;
}

.btn {
  height: 75px;
  width: 75px;
  border-radius: 50%;
  background-color: #465abc;
  color: #fff;
  font-size: 20px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn:focus,
.btn:hover {
  opacity: 0.7;
}

.signUp {
  color: #465abc;
}

.btn_loading {
  opacity: 0.7;
  cursor: default;
}

.errors {
  height: 90px;
  display: flex;
  align-items: center;
}

.errors p {
  color: red;
}

@media screen and (max-width: 575px) {
  .form {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: none;
  }
  .container {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10vh;
  }
}
